---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Allman
DerivePointerAlignment: false
IndentWidth: 2
ColumnLimit: 65
SortIncludes: Never
PointerAlignment: Right
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
